<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="<?=STATIC_DIR;?>css/font-awesome.css">
    <title>管理员登陆</title>
    <link href="<?=STATIC_DIR;?>css2.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="<?=STATIC_DIR;?>js/jquery-1.9.0.min.js"></script>
</head>
<body>
<div class="bar"></div>
<div class="main">
    <div class="nav">
        <div class="nav_left">
            <img src="<?=STATIC_DIR;?>images/logo.png" alt="山大校徽">
        </div>
        <div class="nav_middle">
            <div class="nav_middle_top"><p>山东大学</p></div>
            <div class="nav_middle_bottom"><p>图书馆</p></div>
        </div>
        <div class="nav_right">
            <p>管&nbsp理&nbsp员&nbsp登&nbsp陆</p>
        </div>
    </div><!--导航栏nav结束-->
    <div class="loadBox">
        <ul class="load_cont">
            <form action="#" >
            <li class="l_tit">用户名</li>
            <li class="mb_10"><input type="text" id='username' name='username' class="load_input"><i class="fa icon-user"></i></li>
            <li class="l_tit">密码</li>
            <li class="mb_10"><input type="password" id='password' name='password' class="load_input"><i class="fa icon-key"></i> </li>
            <!--<li class="l_tit">验证码</li>-->
            <!--<li class="mb_10"><input type="text" class="load_input"> </li>-->
            <!--<img src="../lib/image.func.php">-->
            <!--<li class="load_auto"><input type="checkbox" id="a1" class="checked"><label for="a1">自动登录</label> </li>-->
<!--            <li><input type="button" value="登录" class="load_blue"></li>-->
                <br />
           <li><div style="padding-left:50px;margin-top:20px;"><input type="button" value="登 录" onclick="admin_login()" style="width:150px;" class="button_blue"/></div></li>
                </form>
        </ul>
    </div>
</div>
<div class="last">
    <p>欢&nbsp迎&nbsp来&nbsp到&nbsp山&nbsp东&nbsp大&nbsp学&nbsp图&nbsp书&nbsp馆</p>
</div>

</body>
<script>
    function admin_login() {
        $.ajax({
            url: '<?=API;?>admin/auth',
            type: 'POST',
            data: {
                username: $('#username').val(),
                password: $('#password').val()
            },
            success: function(data){
                if(data == 0){
                    alert("登陆成功");
                    window.location.href="<?=ROOT_DIR;?>admin";
                }else{
                    alert(data);
                }
            }
        });
    }
</script>
</html>